body {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
  /* background-image: url('../img/keyboard.jpg'); */

}
/* #about-me {
  background: transparent;
} */
/* navbar related styling */
#br{
  line-height: 1rem;
}
#leading-space {
  text-indent: 0.5rem;
}
#navbar-items a {
  color:wheat;
  padding-top: 14px;
  padding-bottom: 31px;
}
#navbar-items a:hover {
  text-decoration: none;
  background-color: rgb(85, 84, 83);
  color: wheat;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.hidden-item {
  color: white;
}

/* intro related styling */
.intro {
  background-image: url("../img/keyboard.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
}
/* .jumbotron#opening {
  color: rgb(0, 0, 0);
  opacity: 0.3;
  text-indent: 10rem;
  min-width: 1000px;
} */
.jumbotron#opening {
  background:rgba(233, 236, 239, 0.3);
  color: rgba(0, 0, 0, 1);
  text-indent: 10rem;
  min-width: 1000px;
}
.jumbotron#opening > p {
  text-indent: 12rem;
  color: rgba(233, 236, 239, 1);
}
.carousel {
  z-index: 0;
}
#who-am-i{
  text-align: justify;
  /* text-justify: inter-word; */
  /* word-break: break-all; */
  /* hyphens: auto; */
}

/* general styling */
h1 h2 h3 {
  font-family: 'Bebas Neue', cursive;
}
/* form .container {
  background-image: url('../img/keyboard.jpg');
} */
#myForm {
  background-image: url('../img/keyboard-1280-850.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(243, 239, 239);
  opacity: 0.9;
}

footer {
  font-size: 0.75rem;
}

#disabled {
  pointer-events: none;
}


